<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claim</title>
</head>
<body>
    <p>行李图片：{{luggage_image}}</p>
    <img src="{{ url_for('static', filename= './luggage_images/test.jpg',_t=val1) }}" width="400" height="400" alt="lost"/>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="luggage_icon" style="margin-top:20px;"/>
        <br>
        <textarea name="description" id="decsription_of_luggage" cols="30" rows="10" placeholder="Add your description here"></textarea>
        <input type="submit" value="upload"/>
    </form>
</body>
</html>