<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claim</title>
</head>
<body>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="luggage_icon" style="margin-top:20px;"/>
        <br>

        <textarea name="description" id="decsription_of_luggage" cols="30" rows="10" placeholder="Add your description here"></textarea>
        <input type="submit" value="upload"/>
    </form>
    <a href="{{ url_for('detail_page') }}">Back to detail</a>
</body>
</html>