<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
<h1>This is the user details page</h1>
    <p>User information</p>
    <form method="post">
        Edit your information: <br>
        change name:
        <input type="text" name="alteredname"><br>
        change password://need to check the original password
        <input type="password" name="alteredpassword"><br>
        change phone:
        <input type="text" name="alteredphone"><br>
        change email:
        <input type="text" name="alteredemail"><br>
        <input type="submit">
    </form>

        <p>头像：{{userinput}}</p>
        <img src="{{ url_for('static', filename= './user_images/test.jpg',_t=val1) }}" width="400" height="400" alt="lost"/>

        <form action="" enctype='multipart/form-data' method='POST'>
            <input type="file" name="user_icon" style="margin-top:20px;"/>
            <br>
            <input type="submit" value="upload"/>
        </form>

    <a href="{{ url_for('claim_page') }}">Apply for claim</a><br>
    <a href="{{ '/1/' }}">click here to homepage</a><br>
    <a href="{{ '/0/' }}">log out</a><br>
    <a href="#">Verify email address</a><br>
</body>
</html>