<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>
    <h1>This is the user details page</h1>
    <p>Edit info</p>
    <form method="post">
        change name:
        <input type="text" name="alteredname"><br>
        change password://need to check the original password
        <input type="password" name="alteredpassword"><br>
        change phone:
        <input type="text" name="alteredphone"><br>
        change email:
        <input type="text" name="alteredemail"><br>
        <input type="submit">
    </form>
    <a href="{{ '/1/' }}">click here to homepage</a>
    <a href="{{ '/0/' }}">log out</a>
</body>
</html>