<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <h1>This is the register page</h1>
    <form method="post">
        Please input your name:
        <input type="text" name="username"><br>
        Please input your phone number:
        <input type="text" name="phonenumber"><br>
        Please input your e-mail address:
        <input type="text" name="email"><br>
        Please enter you password:
        <input type="password" name="password"><br>
        Please enter you password again:
        <input type="password" name="check_password"><br>
        <input type="submit">
    </form>
    <a href="{{ '/0/' }}">back to home page</a>
</body>
</html>